*{
    margin: 0px;
    font-family: sans-serif;
}
.head{
    width: 1260px;
    height: 36px;
    background-color: #ffffff;
    padding: 16px 0px;
    display: inline-block;
    font-size: 24px;
    text-align: center;
}
.mail{
    text-align: right;
    margin-top: -25px;
    margin-right: 50px;
}
.body{
    width: 1218px;
    height: 2581px;
    padding: 8px 16px;
}
.images{
    width: 1200px;
    height: 553px;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
}
.image{
    width: 280px;
    height: 553px;
    padding: 0px 8px;
    justify-content: space-between;
    flex-wrap: wrap;
}
img{
    width: 280px;
    height: 400px;
}
h3{
    margin: 10px 0px;
    text-align: center;
}
.text{
    text-align: center;
}
.page{
    width: 300px;
    height: 39px;
    text-align: center;
    margin: auto;
    border-bottom: 1px solid #aaaaaa;
}
a{
    font-size: 15px;
    padding: 8px 16px;
    color: #000;
    display: inline-block;
}
#one{
    background-color: black;
    color: white;
}
#one:hover{
    background-color: #aaaaaa;
    color: black;
}
#two:hover{
    background-color: #000;
    color: #fff;
}